<app-navbar [notHomePage]="true" nomePagina="Editoras"></app-navbar>
<section class="max-w-screen-xl mx-auto p-4">
  <app-table [colunas]="colunas" [data]="editoras" (dataAdd)="abrirModalCadastrar($event)" (dataEdit)="abrirModalEditar($event)" (dataDelete)="abrirModalDeletar($event)" (pesquisaEnviada)="receberPesquisa($event)" [isLoadingSearch]="isLoadingSearch"></app-table>
</section>

<!-- Modal Edição -->
<p-dialog *ngIf="editoraSelecionada" header="Editar Editora" [(visible)]="showModalEditar" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="nome">
        Nome:
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="nome"
        type="text"
        placeholder="Nome"
        [(ngModel)]="editoraSelecionada.nome"
        name="nome"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="endereco">
        Endereço:
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="endereco"
        type="text"
        placeholder="endereco"
        [(ngModel)]="editoraSelecionada.endereco"
        name="endereco"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="telefone">
        Telefone:
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="telefone"
        type="text"
        placeholder="telefone"
        [(ngModel)]="editoraSelecionada.telefone"
        name="telefone"
      />
    </div>
    <!-- Botão de editar -->
    <div class="flex items-end justify-end">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline "
        type="button"
        (click)="editarEditora()"
      >
        Editar
      </button>
    </div>
  </form>
</p-dialog>

<!-- Modal Cadastro -->
<p-dialog header="Cadastrar Editora" [(visible)]="showModalCadastrar" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="nome">
        Nome:
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="nome"
        type="text"
        placeholder="Nome"
        [(ngModel)]="editoraCadastro.nome"
        name="nome"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="endereco">
        Endereço:
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="endereco"
        type="text"
        placeholder="endereco"
        [(ngModel)]="editoraCadastro.endereco"
        name="endereco"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="telefone">
        Telefone:
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="telefone"
        type="text"
        placeholder="telefone"
        [(ngModel)]="editoraCadastro.telefone"
        name="telefone"
      />
    </div>
    <!-- Botão de cadastrar -->
    <div class="flex items-end justify-end">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline "
        type="button"
        (click)="cadastrarEditora()"
      >
        Cadastrar
      </button>
    </div>
  </form>
</p-dialog>

<!-- Modal Deletar -->
<p-dialog *ngIf="editoraSelecionada" header="Deletar Livro" [(visible)]="showModalDeletar" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div>
    <p>Tem certeza que deseja deletar a editora {{ editoraSelecionada.nome }}?</p>
    <div class="flex items-end justify-end">
      <button
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline "
        type="button"
        (click)="deletarEditora()"
      >
        Deletar
      </button>
    </div>
  </div>
</p-dialog>