<app-navbar [notHomePage]="true" nomePagina="Livros"></app-navbar>
<section class="max-w-screen-xl mx-auto p-4">
  <app-table [colunas]="colunas" [data]="livrosAutorEditora" (dataAdd)="abrirModalCadastrar($event)" (dataEdit)="abrirModalEditar($event)" (dataDelete)="abrirModalDeletar($event)" (pesquisaEnviada)="receberPesquisa($event)" [isLoadingSearch]="isLoadingSearch"></app-table>
</section>

<!-- Modal Edição -->
<p-dialog *ngIf="showModalEditar" header="Editar Livro" [(visible)]="showModalEditar" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="editForm">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="titulo">
          Titulo:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="titulo"
          type="text"
          placeholder="titulo"
          formControlName="titulo"

          name="titulo"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="autor">
          Autor:
        </label>
        <select
          id="autor"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-slate-100"
          formControlName="autorId"
        >
          <option *ngFor="let autor of autores" [value]="autor.id">{{ autor.nome }}</option>
        </select>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="editora">
          Editora:
        </label>
        <select
          id="editora"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-slate-100"
          formControlName="editoraId"
        >
          <option *ngFor="let editora of editoras" [value]="editora.id">{{ editora.nome }}</option>
        </select>
      </div>
      <div class="flex items-end justify-end">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline "
          type="button"
          (click)="editarLivro()"
        >
          Editar
        </button>
      </div>
    </form>
  </div>
</p-dialog>

<!-- Modal Cadastro -->
<p-dialog *ngIf="showModalCadastrar" header="Cadastrar Livro" [(visible)]="showModalCadastrar" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="editForm">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="titulo">
          Titulo:
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="titulo"
          type="text"
          placeholder="titulo"
          formControlName="titulo"

          name="titulo"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="autor">
          Autor:
        </label>
        <select
          id="autor"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-slate-100"
          formControlName="autorId"
        >
          <option *ngFor="let autor of autores" [value]="autor.id">{{ autor.nome }}</option>
        </select>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="editora">
          Editora:
        </label>
        <select
          id="editora"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-slate-100"
          formControlName="editoraId"
        >
          <option *ngFor="let editora of editoras" [value]="editora.id">{{ editora.nome }}</option>
        </select>
      </div>
      <div class="flex items-end justify-end">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline "
          type="button"
          (click)="cadastrarLivro()"
        >
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</p-dialog>

<!-- Modal Deletar -->
<p-dialog *ngIf="livroAutorEditoraSelecionado" header="Deletar Livro" [(visible)]="showModalDeletar" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div>
    <p>Tem certeza que deseja deletar o livro {{ livroAutorEditoraSelecionado.titulo }}?</p>
    <div class="flex items-end justify-end">
      <button
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline "
        type="button"
        (click)="deletarLivro()"
      >
        Deletar
      </button>
    </div>
  </div>
</p-dialog>