<div class="p-6">
  <!-- Barra de pesquisa -->
  <div class="flex flex-col lg:flex-row justify-between items-center mb-4" *ngIf="!isHistorico">
    <app-input-search [isCrud]="true" (pesquisaEnviada)="enviarPesquisa($event)" [isLoadingSearch]="isLoadingSearch"></app-input-search>
    <button type="button" label="Adicionar Novo" class="rounded-md bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4"
    (click)="adicionar()">
      Adicionar
    </button>
  </div>

  <!-- Tabela -->
  <p-table [value]="data" class="w-full">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let coluna of colunas">
          {{ coluna }}
        </th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let coluna of colunas">
          {{ formatarCampo(coluna, rowData) }}
        </td>
        <td *ngIf="!isHistorico">
          <button type="button" (click)="editar(rowData)">
            <i class="pi pi-pencil text-xl cursor-pointer text-blue-500 hover:text-blue-700 mr-3"></i>
          </button>
          <button type="button" (click)="deletar(rowData)">
            <i class="pi pi-trash text-xl cursor-pointer text-red-500 hover:text-red-700"></i>
          </button>
        </td>
        <td *ngIf="isHistorico">
          <button type="button" (click)="visualizar(rowData)">
            <i class="pi pi-eye text-xl cursor-pointer text-blue-500 hover:text-blue-700 mr-3"></i>
          </button>
      </tr>
    </ng-template>
  </p-table>
</div>