<!-- Navbar para desktop -->
<header class="bg-gray-800">
  <nav class="hidden md:flex items-center justify-between p-4 text-white max-w-screen-xl mx-auto">
    <div class="flex items-center justify-between w-full">
      <div class="h-10 mr-2 pt-1 w-2/12 text-center">
        <span class="whitespace-nowrap text-3xl font-bold font-serif">LIVRARIA</span>
      </div>
      <div class="h-10 mr-2 pt-1 w-1/12" *ngIf="notHomePage">
        <span class="whitespace-nowrap text-2xl font-bold font-serif">{{ nomePagina }}</span>
      </div>
      <app-input-search *ngIf="!notHomePage" (pesquisaEnviada)="enviarPesquisa($event)" [isLoadingSearch]="isLoadingSearch"></app-input-search>
      <div class="mr-10 flex justify-between w-1/12">
        <i class="pi pi-user cursor-pointer text-xl" routerLink="/autores" title="Autores"></i>
        <i class="pi pi-book cursor-pointer text-xl" routerLink="/livros" title="Livros"></i>
        <i class="pi pi-building cursor-pointer text-xl" routerLink="/editoras" title="Editoras"></i>
      </div>
    </div>
  </nav>
</header>